{% extends "layout.html" %}

{% block title %}
    Russian Peasant Multiplication
{% endblock %}

{% block main %}
    <form action="/compute" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" min="1" name="a" placeholder="number" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" min="1" name="b" placeholder="number" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Calculate</button>
    </form>
{% endblock %}
